/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

body{
  background-color: lightblue;
}

.flash-container {
  //position: absolute;
  width: 100%;
  height: 2rem;
}
.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}

.login-btn{
    margin-left: 10px;
    margin-right: 5px;
}

.submit-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.album-image{
  width: 30rem;
  height: 30rem;
  border-width: 5px;
  border-style: double;
  border-color: black;
}

.album-name{
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Cantarell', sans-serif;
  
}

.artist-name{
  font-size: 25px;
  font-family: 'Bangers', cursive;
}

.prof-well{
    margin-bottom: 0px;
    border-style: solid;
    border-width: 3px 3px 0px 3px;
    border-color: black;
}

.details-well{
  background-color: white;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: black;
  padding-top: 110px;

}

.alb-bg{
  margin-bottom: -125px;
}

.des-bg{
  background-color: white;
  border-radius: 4px;
  border-width: 3px;
  border-style: solid;
}

.btn-margin{
  margin-top: 6px;
  margin-left: 1px;
}
.btn{
  background-color: white;
}
.btn:hover{
  transform: scale(1.1);
}
.navbar-default{
  background-color: black;
  border-color: black;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover{
  color: darkgrey;
}

.btn-correct{
  width: 50%;
}

.social-icon{
  transform: scale(1.1);
}

.view-profile-btn{
  background-color: light-green;
  color: white;
  width: 75%;
}
.song-brd{
    border-color: black;
    border-width: 0 2px 2px 2px;
    background-color: white;
    border-style: solid;
    padding-left: 6px;
}
.song-brd-one{
    border-color: black;
    border-width: 2px 2px 2px 2px;
    background-color: white;
    border-style: solid;
    padding-left: 6px;
}
.selectors-well{
  background-color: black;
}

.sel-alb-well{
  background-color: white;
  border: 2px solid black;
}
.flash-container{
  margin-bottom: 10px;
  height: inherit;
}

.black-border{
  border: 2px solid black;
}

.fa-music{
  margin-right: 2px;
}

.clr-white{
  color: white;
  padding-top: 0px;
  margin-bottom: 30px;
}