.album-h1{
    font-family: 'Lora', serif;
    margin-top: -40px;
    color: black;
	font-size: 40px;
}
.album-artist, .album-year{
    font-family: 'Lora', serif;
    color: black;
	font-size: 40px;
}

.user-index-avatar {
	width: 60%;
	border-radius: 50%;
	border: 2px solid black;
}

.song-style{
    font-size: 20px;
}

.spotify-flag{
    color: black;
    text-align: right;
    font-size: 50px;
}

.spotify-flag:hover{
    color: green;
}
.spot-row{
    margin-top: 10px;
}

.comment-div{
    border-color: black;
    border-width: 2px 2px 2px 2px;
    background-color: white;
    border-style: solid;
    padding: 10px 0 10px 0;
}

.username-index-row{
    background-color: black;
    color: white;
    padding-bottom: 10px;
}


.row-index-margin{
    margin-bottom: 10px;
    
}
.community-name{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.index-shell{
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 40px 0 10px 0;
}

.show-username{
    text-align: right;
    margin-bottom: 20px;
}

.show-row{
    padding: 0 10px 0 10px;
}
.username-color-change{
    font-size: 20px;
}

.index-container{
    margin: 0px 10px 0px 10px;
}


.icon-margin{
    margin-right: 2px;
}