.album-h1{
    font-family: 'Lora', serif;
    margin-top: -40px;
    color: black;
	font-size: 40px;
}
.album-artist, .album-year{
    font-family: 'Lora', serif;
    color: black;
	font-size: 40px;
}

.user-index-avatar {
	width: 60%;
	border-radius: 50%;
	border: 2px solid black;
}

.song-style{
    font-size: 20px;
}

#spotify-link{
    color: black;
    text-align: right;
    font-size: 50px;
}

#spotify-link:hover{
    color: green;
}
.spot-row{
    margin-top: 10px;
}

.song-brd-one{
    border-color: black;
    border-width: 2px 2px 2px 2px;
    background-color: white;
    border-style: solid;
}
.song-brd{
    border-color: black;
    border-width: 0 2px 2px 2px;
    background-color: white;
    border-style: solid;
}

.row-index-margin{
    margin-bottom: 10px;
    
}
.community-name{
    color: white;
}