.album-h1{
    font-family: 'Lora', serif;
    margin-top: -40px;
    color: black;
	font-size: 40px;
}
.album-artist, .album-year{
    font-family: 'Lora', serif;
    color: black;
	font-size: 40px;
}

.user-index-avatar {
	width: 128px;
	height: 128px;
	border-radius: 50%;
}

